@model ProjectCode.Models.ExpertMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_adminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExpertMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpertName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertEmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertEmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpertId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
