@model ProjectCode.Models.ExpertSkillMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_adminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExpertSkillMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryMaster.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryMaster.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertMaster.ExpertName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertMaster.ExpertName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpertSkillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
