@model ProjectCode.Models.ProductMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_adminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSecondHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSecondHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desccription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desccription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryMaster.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryMaster.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserMaster.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserMaster.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
